.conversionComponent {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
  .conversionBlockContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .error {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    box-shadow: inset 0 2em 2em rgba(0, 0, 0, 0.1),
      0 0 0 1px rgb(112, 128, 166, 0.2), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 100px;
  }
}
