@import "./assets/styles/media";

.App {
  position: relative;
  height: 100vh;
  width: 100%;
  font-family: Effra, Helvetica, Arial, sans-serif;
  font-style: italic;
  overflow: hidden;
  @include media(mobile) {
    display: flex;
    flex-direction: column;
  }
  input {
    font-style: italic;
  }
  button {
    font-family: Effra, Helvetica, Arial, sans-serif;
    font-style: italic;
  }
  h1 {
    font-weight: 600;
    font-size: 24px;
  }
}
