.header {
  height: 50px;
  background: rgba(0, 30, 99, 0.5);
  border: 0.5px solid gray;
  display: flex;
  justify-content: end;
  align-items: center;
  .currencyRates {
    display: flex;
    gap: 40px;
    margin-right: 20px;
    .currency {
      display: flex;
      flex-direction: column;
      align-items: center;
      .currencyName {
        display: flex;
        align-items: center;
        gap: 3px;
        img {
          height: 10px;
        }
      }
      .rates {
        display: flex;
        gap: 5px;
        .value {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 14px;
        }
      }
    }
  }
  h1 {
    position: absolute;
    left: 10px;
    width: 100%;
    font-weight: 600;
    font-size: 28px;
  }
}
