.currencySelect {
  position: absolute;
}
.currencySelect-enter {
  transition: 0.2s;
}
.currencySelect-enter-done {
  transition: 0.5s;
  height: 100px;
  background-color: aqua;
}
.currencySelect-exit {
  @apply absolute;
  transition: 0.3s;
}
.currencySelect-exit-active {
  @apply absolute;
  transition: 1s;
}
