.currencySelect-enter {
  transition: 0.2s;
  top: -800px;
}
.currencySelect-enter-done {
  transition: 0.2s;
  top: 45px;
}
.currencySelect-exit {
  @apply absolute;
  transition: 0.3s;
  top: -800px;
}
.currencySelect-exit-active {
  @apply absolute;
  transition: 1s;
  top: -800px;
}
