.currencySelect {
  position: absolute;
  top: 20px;
  background-color: aqua;
  width: 100%;
  height: 0;
}
.currencySelect-enter {
  transition: 1s;
  top: 20px;
  background-color: aqua;
  width: 100%;
  height: 0;
}
.currencySelect-enter-done {
  transition: 10s;
  height: fit-content;
}
.currencySelect-exit {
  @apply absolute;
  transition: 0.3s;
}
.currencySelect-exit-active {
  @apply absolute;
  transition: 1s;
}
